<% provide(:title, "About") %>
	
	<section id="about">
		<div class="row">
			<h2 class="text-center">About</h2>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p>I made this website for help people. I know what means be in bad times and don't see any possibility of reborn. In moment like that you need positive things, you need to read happy ending story and you need to find reasons for fight.</p>
					<p>Often see other point of view, know story about other people make you feel better, it give you an hope that if someone else overcome a problem like yours also you can do it.</p>
					<p>At least is in this way for me. I don't know if will be the same for you but if this website will help also only one person in this world, that he/she is feeling lost in this moment, well all my work will worth it.</p>
					<p>The idea come for a taxi driver of Hong Kong who keep a notebook where you can write what make you happy or read it if you feel down, so from this I took the idea of make this website. I wanted to make this brilliant idea worldwide accessible.</p>
				</div>
			</div>

		</div> <!-- /container -->
	</section>
	
			

    
