<% provide(:title, "Sign-in") %>


<section id="sign-in">
		<div class="row">
			<h2 class="text-center">Sign in</h2>
		</div>
		
		<div class="container">

			<div class="col-sm-6">
				<div class="col-xs-10 col-xs-offset-1">
				<form class="form-signin">
					<input class="form-control" placeholder="Email address" autofocus="" type="text">
					<input class="form-control" placeholder="Password" type="password">
					<label class="checkbox"><input value="remember-me" type="checkbox"> Remember me</label>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form>
				<p><a href="#">Forgot password?</a></p>
				</div>
			</div><!-- end col-sm-6 -->

			<div class="col-sm-6">
				<div class="row social-login">
					<div class="col-xs-8 col-xs-offset-2">
						<button class="btn btn-lg btn-block btn-facebook responsive-width" type="submit"><i class="fa fa-facebook fa-lg"></i> Log in with Facebook</button>
						<button class="btn btn-lg btn-block btn-twitter responsive-width" type="submit"><i class="fa fa-twitter fa-lg"></i> Log in with Twitter</button>
						<button class="btn btn-lg btn-block btn-google responsive-width" type="submit"><i class="fa fa-google-plus fa-lg"></i> Log in with Google</button>						
					</div>
				</div>
				<div class="row" id="sign-up">
					<div class="col-xs-12">
						<p>Still don't have an account?</p>
						<button class="btn btn-lg btn-primary" type="submit">Sign up now</button>
					</div>
				</div>

			</div>





		</div> <!-- /container -->
</section>
