<div id="grid" class="row">

				<% @thoughts.each do |t| %>
				    <div class="col-xs-6 col-sm-4 col-md-3" data-groups='["photography"]'>
						<%= render partial: 'layouts/panel', object: t %>
				    </div>
				<% end %>

				<!-- sizer -->
				<div class="col-xs-6 col-sm-4 col-md-3 shuffle_sizer"></div>          
          
	    </div><!-- /#grid -->
