<p>
			<%= thought.like_counter %>
			<button type="submit" name="commit" id="like-btn-<%= thought.id %>" class="btn btn-default btn-xs heart-btn heart-btn-liked"><i class="fa fa-heart"></i></button>
		</p>