<div class="container">
	<div class="row">

		<% if flash[:notice] %>
			<div class="flash-notice">
				<%= flash[:notice] %>
			</div>
		<% end %>
		
			
		<h4 class="title">Update your thought</h4>
		<div class="col-xs-6 col-xs-offset-3">
			<%= render 'form' %>
		</div>
		



	</div><!-- end row -->
</div><!-- end container -->