    <div class="container">
<!--       
         <div class="filter-options">
          <button class="btn btn-default" data-group="wallpaper">Wallpapers</button>
          <button class="btn btn-default" data-group="graphics">Graphic Design</button>
          <button class="btn btn-default" data-group="photography">Photos</button>
          <button class="btn btn-default" data-group="3d">3D Renders</button>
        </div>      
-->      
            
	    <div id="grid" class="row">

			<% @thoughts.each do |t| %>
		    
		    <div id="thoughts" class="col-xs-6 col-sm-4 col-md-3" data-groups='["photography"]'>
				<%= render partial: 'layouts/panel', object: t %>
		    </div>
		    
		    <% end %>
          <!-- sizer -->
      <div class="col-xs-6 col-sm-4 col-md-3 shuffle_sizer"></div>          
          
          
	    </div><!-- /#grid -->
    </div><!-- /.container -->