    <div id = "thoughts" class="container">
<!--       
         <div class="filter-options">
          <button class="btn btn-default" data-group="wallpaper">Wallpapers</button>
          <button class="btn btn-default" data-group="graphics">Graphic Design</button>
          <button class="btn btn-default" data-group="photography">Photos</button>
          <button class="btn btn-default" data-group="3d">3D Renders</button>
        </div>      
-->      
            
	    <%= render 'thoughts' %>
	    
	    
	    
	    
    </div><!-- /.container -->