<% if current_user && (current_user.liked_thoughts.find_by(thought_id: thought.id)) %>
	<%= form_for(current_user.liked_thoughts.find_by(thought_id: thought.id), html: { method: :delete }, remote: true) do |f|%>
	<div id="like-section-<%= thought.id %>">
		<%= render partial: 'thoughts/unlike_button', locals: {thought: thought} %>
	</div>
	<% end %>
<% end %>