<div class="container">
	<div class="row">

		<% if flash[:notice] %>
			<div class="flash-notice">
				<%= flash[:notice] %>
			</div>
		<% end %>
		
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		</div>
		
		<div class="col-xs-6">
			<%= render partial: 'layouts/panel', object: @thought %>
		</div>
		
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</div>


	</div><!-- end row -->
</div><!-- end container -->